################################################################################
# .NET and Rider .gitignore
################################################################################

# Build results
[Bb]in/
[Oo]bj/
[Ll]ogs/

# IDE files (Rider, Visual Studio, VS Code)
.idea/
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# Secrets and environment
.env
.env.*
! .env.example

# OS-specific files
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Certificates
/certs

# Others
/FbRider.Api.Service.sln.DotSettings.user
